

<!-- Main Header -->

<header class="main-header">
	<!-- Logo -->
	<a href="#" routerLink="/" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-lg">
			<img style="height: 34px;" src="/public/assets/img/spenn-logo.PNG">
			James
		</span> <!-- logo for regular state and mobile devices -->
		<!--<span class="logo-lg"><b>Spenn</b></span>-->
	</a>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle
				navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav" *ngIf="(auth.isAuthenticatedAsync() | async)">
				<!--&lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;-->
				<!--<li class="dropdown messages-menu messagesBox"></li>-->
				<!--&lt;!&ndash; Notifications Menu &ndash;&gt;-->
				<!--<li class="dropdown notifications-menu notificationsBox"></li>-->
				<!--&lt;!&ndash; Tasks Menu &ndash;&gt;-->
				<!--<li class="dropdown tasks-menu tasksBox"></li>-->
				<!-- User Account Menu -->
				<li class="dropdown user user-menu userBox"></li>
				<!--&lt;!&ndash; Control Sidebar Toggle Button &ndash;&gt;-->
				<!--<li><a href="#" data-toggle="control-sidebar" class="toggle-sidebar-right"><i class="fa fa-gears"></i></a></li>-->
			</ul>
			<ul class="nav navbar-nav" *ngIf="!(auth.isAuthenticatedAsync() | async)">
				<li><a [href]="loginUrl"><i class="fa fa-sign-in"></i> Login</a></li>
				<li><a [href]="registerUrl"><i class="fa fa-sign-in"></i> Register</a></li>
			</ul>
		</div>
	</nav>
</header>