

#header {
  margin: 0px 0px 10px 0px !important;
}

#text-box {
  resize: none !important;
} 

#btn-submit {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid transparent;
  background-color: #00a65a;
  border-color: #008d4c;
  color: #fff;
}
#btn-submit:hover
{
  background-color: #008d4c;
}
#btn-submit:disabled
{
  background-color:#dcdcdc;
  border-color: #dcdcdc;
}