
<div class="text-center text-bold">
	<h1>Welcome to James</h1>
</div>

<div style="padding-bottom: 25%"></div>

<!--<div style="display:inline-block" id="kf-embed-container-a620778c3d1c73811dbf076bd4907dc2"></div>-->

<!--<div class="">-->
	<!--<img src="/public/assets/img/Test-Ambassador-model-BOXED-1-500x655.png" />-->
<!--</div>-->


	<!--home works!-->

	<!--<alert type="info">Hello from ng2-bootstrap {{-->
	<!--date.toDateString() }}</alert>-->

	<!--<datepicker [(ngModel)]="date" showWeeks="true"></datepicker>-->
